* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
    background-image: url(../img/jumbo.png);
    padding-top: 1.5rem;
    padding-bottom: 4px;
}

header nav {
    margin-bottom: 1rem;
}

header nav .menu {
    display: flex;
}

.menu {
    line-height: 25px;
    margin: auto;
    width: 60%;
    height: 50px;
}

.logo {
    background-repeat: no-repeat;
    align-items: center;
    padding: 0.5rem;
}

.logo,
.links,
.discord {
  padding: 0.5rem;
}

.logo,
.discord {
  min-width: 200px;
  padding: 0.5rem;
  line-height: 10px;
}

.links {
    flex-grow: 1;
    padding: 0.5rem;
    line-height: 10px;
}

.links ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.links a {
    font-size: 18px;
    color: #ffffff;
    padding: 0.5rem;
    text-decoration: none;
}

.discord button {
    border: none;
    text-decoration: none;
    background-color: #ffffff;
    width: 120px;
    font-size: 13px;
    padding: 10px;
    border-radius: 30px;
}

/* Titoli header */

.hero-section {
    padding: 50px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 626px;
}

.container1 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container1 h1 {
    font-size: 4em;
    color: #ffffff;
    text-align: center;
    margin-top: 150px;
}

.container1 p {
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
}
 
/* bottoni header */

.buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}


.white-button {
    border: none;
    text-decoration: none;
    background-color: #ffffff;
    width: 15em;
    font-size: 1em;
    padding: 1em;
    border-radius: 30px;
    margin-top: 3em;
    margin-right: 2em;
}

.black-button {
    color: #ffffff;
    border: none;
    text-decoration: none;
    background-color: #000000;
    width: 15em;
    font-size: 1em;
    padding: 1em;
    border-radius: 30px;
    margin-top: 3em;
    margin-left: 2em;
}


/* MAIN SECTION */

.section1 {
    padding: 50px;
    background-position: 0%;
}

.sub-section1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40em;
}

.wave2 img{
    width: 100%;
    background-color: #ffffff;
    margin-bottom: -4px;
    
}

.section2 {
    padding: 50px;
    background-color: #F6F6F6;
}

.sub-section2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40em;
}

.wave3 img{
    width: 100%;
    transform: rotate(180deg);
    color: #ffffff;
    fill: #F6F6F6;
}

.section3 {
    padding: 50px;
    background-color: #ffffff;
}

.sub-section3 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40em;
}

.text-section {
    padding: 4em 2em 1em 2em ;
    width: 25%;
}

.text-section h2 {
    font-size: 3.5em;
    line-height: 1.3em;
}

.text-section p {
    margin-top: 1.5em;
    font-size: 1.2em;
    line-height: 1.5em;
}

.image-section {
    display: flex;
    width: 45%;
}

.image-section img {
    padding: 3em;
    justify-content: center;
    align-content: center;
}

.wave4 img {
    width: 100%;
    margin-bottom: -4px;
}

.section4 {
    padding: 3.3em;
    background-color: #F6F6F6;
    display: flex; 
}

.sub-section4 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1100px;
}

.container2 {
    padding: 3.3em;
    width: 50%;
    flex-direction: column;
    display: flex;
}

.container2 h2 {
    font-size: 3em;
    line-height: 1.3em;
    text-align: center;
}

.container2 p {
    margin-top: 1.5em;
    font-size: 1.4em;
    line-height: 1.5em;
    text-align: center;
}

.container2 img {
    justify-content: center;
    align-content: center;
}

.container2-sub-section {
    display: flex;
    flex-direction: column;

}

.container2-sub-section img {
    margin: 0 10em 0 10em;
    align-content: center;
    padding: 0;
}

.container2-sub-section h3 {
    line-height: 0;
    text-align: center;
    font-size: 2em;
}

.violet-button {
    align-self: center;
    border: none;
    text-decoration: none;
    background-color: #7189DA;
    color: #ffffff;
    width: 15em;
    font-size: 1em;
    padding: 1em;
    border-radius: 30px;
    margin-top: 3em;
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    padding: 4em 2em 0em 2em;
    background-color: #24272B;
}

.sub-footer {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 642px;
    border-bottom: 3px solid #4B5681;
}

.f-section {
    padding-top: 50px;
    width: 30%;
}

.sub-section {
    padding-top: 50px;
    width: 17.5%;
}

.f-section h3 {
    color: #7189DA;
    font-size: 3.5em;
    margin-bottom: 1em;
}

.f-section p {
    line-height: 1.4em;
    font-size: 1em;
    color: #ffffff;
    display: inline-block;
}

.f-section img {
    width: 1.5em;
}

.sub-section h4 {
    color: #7189DA;
    font-size: 1.5em;
}

.sub-section p {
    color: #ffffff;
    font-size: 1em;
    line-height: 3em;
}

.footer2 {
    width: 100%;
    height: 150px;
    background-color: #24272B;
    padding-top: 20px;
}

.sub-footer2 {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    background-color: #24272B;
    width: 80%;
    height: 100px;
}

.sub-footer2 button {
    border: none;
    text-decoration: none;
    background-color: #7189DA;
    color: #ffffff;
    width: 7em;
    font-size: 1em;
    padding: 1em;
    border-radius: 30px;
}

/* Icons */

.icons {
    color: #ffffff;
    font-size: 2em;
    line-height: 3em;
}

.icons i {
    padding: 0.1em;
}

